<div>
    <h3>New Quote</h3>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <label for="quote">Quote</label>
          <textarea ngModel required #quote="ngModel" name="quote" class="form-control input-sm" id="quote" rows="3"></textarea>
          <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
            <p>Quote is required</p>
          </div>
        </div>
      
        <div class="form-group">
          <label for="author">Author</label>
          <input  ngModel required #author="ngModel" name="author" type="text" class="form-control input-sm" id="author" placeholder="e.g. Will Gallagher">
          <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
            <p>Author is required</p>
          </div>
        </div>
      
         <div class="form-group">
          <label for="user">Submitted By</label>
          <input  ngModel required name="user" #user="ngModel" type="text" class="form-control input-sm" id="user" placeholder="e.g. Will Gallagher">
          <div [hidden]="user.valid || user.pristine" class="alert alert-danger">
            <p>Submitted by is required</p>
          </div>
        </div>

        <div class="form-group">
            <label for="date">Submitted On</label>
            <input  ngModel required #date="ngModel" name="date" type="date" class="form-control input-sm" id="user">
            <div [hidden]="date.valid || date.pristine" class="alert alert-danger">
                <p>Date is required</p>
              </div>  
        </div>

        <button class="btn btn-success btn-sm" type="Submit">Submit</button>
      </form>
</div>